%ul.pricing-table
  %li.title= image_tag ("ash1.jpg")
  %li.price Hi I'm Ashleigh!
  %li.description 
    This is just a little description about how I'm pretty cool but my husband Erol is WAY cooler.
  %li.bullet-item INSTAGRAM
  %li.bullet-item PINTEREST
  %li.bullet-item= text_field_tag "search", nil, placeholder: "Search for Stuff!"
  %li.bullet-item= select_tag "categories", options_for_select(["Food", "Drank", "Family"])
  %li.bullet-item TOP POSTS
  %li.bullet-item Blogs I Like
  %li.cta-button
    %a.button{:href => "#"} EMAIL ME