- if Post.where(published: true).present?
  - post = Post.where(published: true).last
  %h1{:style => "font-family: 'Slabo 27px', serif;"}
    = post.title
    %br/
    %small= post.created_at.strftime("%B %d, %Y")
  - post.segments.each do |segment|
    %div{:style => "font-family: Georgia;"}
      = segment.content.html_safe